.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #373e3e;
}
.simon {
  color: white;
  font-size: 60px;
  font-family: "Bebas Neue";
  margin-bottom: 10px;
}

.colorCard {
  position: relative;
  width: 294px;
  height: 294px;
  margin: 0;
  float: left;
  border: solid 3px black;
  transition: all 0.7s ease-in-out;
}

.cardWarpper {
  width: 600px;
  height: 600px;
  border: solid 5px black;
  border-radius: 600px;
  cursor: pointer;
}
.centerWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: black;
  border: solid 5px black;
  border-radius: 150px;
}

.score {
  font-family: "Bebas Neue";
  font-size: 60px;
  color: white;
}

.lost {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  border-radius: 50%;
  line-height: 100px;
  font-size: 30px;
  color: white;
}
.flash.flash {
  -webkit-box-shadow: 0px 0px 124px 18px rgba(255, 255, 255, 0.96);
  -moz-box-shadow: 0px 0px 124px 18px rgba(255, 255, 255, 0.96);
  box-shadow: 0px 0px 124px 18px rgba(255, 255, 255, 0.96);
}

.red {
  background-color: red;
  border-radius: 300px 0 0 0;
  &.flash {
    background-color: rgb(255, 125, 125);
  }
}
.blue {
  background-color: blue;
  border-radius: 0 0 0 300px;
  &.flash {
    background-color: rgb(125, 125, 255);
  }
}
.green {
  background-color: green;
  border-radius: 0 300px 0 0;
  &.flash {
    background-color: rgb(125, 255, 125);
  }
}
.yellow {
  background-color: yellow;
  border-radius: 0 0 300px 0;
  &.flash {
    background-color: rgb(255, 255, 125);
  }
}

.button {
  background-color: #373e3e;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: white;
  width: 70px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  &:hover {
      background-color: rgb(117, 118, 118);
  }
}

.highScoreWrapper {
  position: absolute;
  top: 20px;
  right: 75px;
  color: white;
}

.turnWrapper {
  position: absolute;
  left: 75px;
  top: 20px;
  color: white;
}
.quit {
  position: absolute;
  bottom: 50px;
  left: 70px;
  .button {
    width: 100px;
    height: 50px;
    font-size: 24px;
    border-radius: 24px;
  }
}
